@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* variable */
:root {
  --primary-color: #6f42c1;
  --secondary-color: #353f4f;
  --grey: #757575;
  --pink: #f74780;
  --rubik-font: "Rubik", sans-serif;
  --plus-jakarta-font: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--rubik-font);
  color: var(--grey);
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: var(--plus-jakarta-font);
  color: var(--secondary-color);
}

p {
  line-height: 26px;
  color: var(--grey);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  color: var(--primary-color);
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.p-80 {
  padding: 80px 0;
}

.button {
  background: var(--pink);
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}

.button:hover {
  background-color: var(--primary-color) !important;
  transition: 0.3s;
  color: #fff !important;
}

/***loader**/
.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
  background-color: var(--primary-color);
}

.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
  background-color: var(--pink);
  margin: 0 10px;
}

.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
  background-color: var(--primary-color);
}

.line {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
    opacity: 0.7;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

div#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-pattern.jpg) no-repeat;
  background-size: cover;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Show loader */
#loader.stop {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/****/
header {
  background: url(../img/bg-pattern.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  max-width: 1440px;
  margin: auto;
}

.nav>.nav-header {
  flex: 0.95;
  padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
  font-size: 22px;
  color: var(--primary-color);
}

.nav>.nav-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.nav>.nav-list>li {
  list-style-type: none;
}

.nav>.nav-list>li a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 500;
}

.nav>.nav-list>li a.active {
  color: var(--primary-color);

}

.nav>.nav-list>li a:hover {
  color: var(--primary-color);

}

.nav>#nav-check {
  display: none;
}

header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  padding: 0 10px;
}

.banner h1 b {
  display: block;
  font-size: 44px;
}

.nav-title a img {
  width: 90px;
}

.banner::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  z-index: 0;
}

.banner h1 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  line-height: 50px;
}

.banner img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 span {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}

.banner.sub-banner {
  height: 300px;
}

/***footer**/
.footer {
  background: url(../img/bg-pattern.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  padding: 30px 0 30px;
  text-align: center;
}

.footer img {
  width: 120px;
  margin-bottom: 20px;
  /* filter: brightness(0) invert(1); */
}

.footer-col {
  margin-top: 20px;
}

footer ul {
  padding-left: 5px;
  padding-top: 10px;
}

footer h3 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
}

footer li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.footer-icon ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.footer-icon li a {
  font-size: 26px;
}

.footer li a:hover {
  color: var(--pink);
}

.footer-col ul li:not(:last-child) {
  margin-right: 20px;
}

.footer-col ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 0;
  flex-wrap: wrap;
}

.footer-icon ul {
  display: flex;
  margin-top: 15px;
}

.footer-col a {
  line-height: 26px;
}

.footer-icon ul li a:hover i {
  color: var(--pink);
}

.copyright p {
  margin: 20px 0 0;
  padding-top: 20px;
  border-top: 1px solid rgb(117 117 117 / 20%);
}

/***hotels list**/
.listing {
  padding-bottom: 40px;
}

.list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto 40px;
  padding: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
  background-color: #fff;
  /* background: linear-gradient(109deg, #b99d754a, transparent); */
}

.list-box>a:first-child {
  width: 30%;
}

.list-box a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.content {
  width: 50%;
}

.list-box>a:last-child {
  width: 15%;
  text-align: center;
}

/****cookies*****/
.cookie-alert {
  align-items: baseline;
  background: #000;
  color: white;
  left: auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  display: none;
}

.cookie-alert.show {
  display: block;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookie-alert .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

.cookie-text {
  width: 75%;
  margin-bottom: 20px;
  text-align: center;
}

.accept-btn {
  width: 15%;
}

.accept-cookies {
  display: block;
  text-align: center;
}

.cookie-text p {
  margin: 0;
  padding-right: 10px;
  color: #fff;
}

/***disclaimer-sec**/
.disclaimer-sec {
  /* background: var(--primary-color); */
  padding: 35px 0;
  text-align: center;
  border-top: 1px solid var(--primary-color);
}

.disclaimer-sec h2 {
  color: var(--grey);
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.disclaimer-sec p {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 0;
}

/***casino-cards**/
.casino-img img {
  height: 500px;
  object-fit: cover;
}

.casino-cards .container>.casino-row:nth-child(even) .row {
  flex-direction: row-reverse;
}

.casino-row .row {
  align-items: center;
  margin-bottom: 50px;
}

.casino-text .heading {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: normal;
  margin-bottom: 20px;
}

.casino-text p {
  margin-bottom: 0;
  max-width: 650px;
}

.casino-img a {
  display: block;
}

.casino-text .star-color img {
  width: 22px;
  object-fit: cover;
}

.casino-text .star-color {
  padding: 20px 0 30px;
}

.casino-cards .container>.casino-row:nth-child(even) .row .casino-text {
  text-align: right;
}

.casino-cards .container>.casino-row:nth-child(even) .row .casino-text p {
  margin-right: 0;
  margin-left: auto;
}

.casino-cards {
  padding-bottom: 60px;
}

/*hover-effect*/
.hover-effect {
  position: relative;
  cursor: pointer;
}

.hover-effect::before {
  right: 0;
  opacity: 1;
  bottom: 0;
}

.hover-effect::before,
.hover-effect::after {
  content: "";
  background: #fff;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1.3s !important;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s !important;
}

.hover-effect::after {
  top: 0;
  opacity: 0.7;
  left: 0;
}

.hover-effect:hover::after,
.hover-effect:hover::before {
  height: 100%;
  opacity: 0;
  width: 100%;
}


/***spa-cards***/
.spa-col {
  background: #fff;
  border-radius: 12px;
  padding: 15px 15px 60px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
  height: 100%;
  position: relative;
}

.spa-col .img {
  width: 100%;
  max-width: 80%;
  margin: -45px auto 0;
  height:250px;
}

.spa-col .img a{
  height: 100%;
}

.spa-col .img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.spa-col .spa-txt {
  padding: 20px 0;
  text-align: center;
}
.spa-col .spa-txt h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 15px;
}
.spa-col>a {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.spa-cards .row>div {
  margin-bottom: 80px;
}
/***faq**/
.faq {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.question {
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .08);
  border-bottom: 2px solid var(--primary-color);
  padding: 15px;
}
.question.active h3 i {
  transform: rotate(180deg);
}
.question h3 {
  margin: 0;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}
.answer p{
  margin-bottom: 0;
}
.answer {
  display: none;
  padding-top: 15px;
}

.answer.show {
  display: block;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/***golf-cards**/
.golf-cards{
  padding-bottom: 60px;
}
.golf-col {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .08);
  display: flex;
  overflow: hidden;
  max-width: 100%;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
}

.golf-col .img-wrap {
  width: 40%;
  height: 400px;
}

.golf-col .img-wrap a, .golf-col .img-wrap a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.golf-content {
  width: 60%;
  padding: 20px 40px;
}
.golf-content h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.golf-content p{
  margin:0;
  padding:20px 0;
}
.golf-row>.golf-col:nth-child(even) {
  flex-direction: row-reverse;
}